<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Events Tab -->
  <ion-tab title="Events" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <!-- Pages Tab -->
  <ion-tab title="Pages" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/pages">
    <ion-nav-view name="tab-pages"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
